h2.heading {
  font-size: 2.8rem;
  font-weight: 700; }
  @media only screen and (max-width: 35.9375em) {
    h2.heading {
      font-size: 2.5rem; } }
  @media only screen and (max-width: 30em) {
    h2.heading {
      font-size: 2.2rem; } }
  @media only screen and (max-width: 23.75em) {
    h2.heading {
      font-size: 2rem; } }

h3.heading {
  font-size: 2rem;
  font-weight: bold; }
  @media only screen and (max-width: 35.9375em) {
    h3.heading {
      font-size: 1.8rem; } }
  @media only screen and (max-width: 30em) {
    h3.heading {
      font-size: 1.6rem; } }

p.p__text {
  font-size: 1.6rem; }

.light {
  opacity: 0.7; }

.primary {
  color: #4D58FF !important; }

.bold {
  font-weight: bold; }

.white {
  color: #fff !important; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
  text-decoration: none;
  list-style: none; }
  * a:hover {
    text-decoration: none; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow-x: hidden; }

body {
  font-family: "Nunito", sans-serif;
  font-size: 1.6rem;
  color: #1f1e2b;
  line-height: 1.6;
  overflow-x: hidden;
  background: #efefef; }
  body.slideShow {
    background: #1f1e2b; }

.container {
  max-width: 1600px; }

::selection {
  background: #1f1e2b;
  color: #fff; }

figure,
p {
  margin-bottom: 0; }

.sub__heading-box {
  display: flex;
  justify-content: space-between; }

.video,
figure.img__big,
figure.img {
  width: 100%;
  overflow: hidden;
  position: relative; }
  .video .video,
  .video img,
  figure.img__big .video,
  figure.img__big img,
  figure.img .video,
  figure.img img {
    width: 100%;
    height: 100%;
    object-fit: cover; }
  .video-vr,
  figure.img__big-vr,
  figure.img-vr {
    max-height: 50.3rem; }
  .video .img__count,
  figure.img__big .img__count,
  figure.img .img__count {
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    color: #1f1e2b;
    z-index: 2;
    display: inline-block;
    padding: 3px 1.2rem;
    transition: all 0.3s; }
  .video.hoverable,
  figure.img__big.hoverable,
  figure.img.hoverable {
    cursor: pointer; }
    .video.hoverable::after,
    figure.img__big.hoverable::after,
    figure.img.hoverable::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      transition: 0.3s cubic-bezier(0.33333, 0, 0.66667, 0.33333);
      background: rgba(255, 255, 255, 0.1);
      box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
      backdrop-filter: blur(2px);
      -webkit-backdrop-filter: blur(2px);
      transform: translateY(100%); }
    .video.hoverable::before,
    figure.img__big.hoverable::before,
    figure.img.hoverable::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 2;
      transition: 0.3s cubic-bezier(0.33333, 0, 0.66667, 0.33333);
      background: url(../img/hover-bg.png) no-repeat;
      background-size: contain;
      background-position: center center;
      transform: translateX(-100%); }
    .video.hoverable:hover::after,
    figure.img__big.hoverable:hover::after,
    figure.img.hoverable:hover::after {
      transform: translateY(0); }
    .video.hoverable:hover::before,
    figure.img__big.hoverable:hover::before,
    figure.img.hoverable:hover::before {
      transform: translateX(0); }
  .video.selectable,
  figure.img__big.selectable,
  figure.img.selectable {
    cursor: pointer; }
    .video.selectable::after,
    figure.img__big.selectable::after,
    figure.img.selectable::after {
      content: '';
      position: absolute;
      top: 1rem;
      left: 1rem;
      width: 3.5rem;
      height: 3.5rem;
      border-radius: 4px;
      background: #fff;
      opacity: 0.7;
      color: #fff;
      font-size: 2.5rem;
      display: flex;
      justify-content: center;
      align-items: center; }
    .video.selectable[data-select='selected'],
    figure.img__big.selectable[data-select='selected'],
    figure.img.selectable[data-select='selected'] {
      border: 4px solid #4D58FF; }
      .video.selectable[data-select='selected']::after,
      figure.img__big.selectable[data-select='selected']::after,
      figure.img.selectable[data-select='selected']::after {
        content: '\2714';
        background: #4D58FF;
        opacity: 1; }
    @media only screen and (max-width: 35.9375em) {
      .video.selectable[data-select='selected'],
      figure.img__big.selectable[data-select='selected'],
      figure.img.selectable[data-select='selected'] {
        border: 2px solid #4D58FF; }
        .video.selectable[data-select='selected']::after,
        figure.img__big.selectable[data-select='selected']::after,
        figure.img.selectable[data-select='selected']::after {
          transform-origin: top left;
          transform: scale(0.7); } }
  .video:hover .img__count,
  figure.img__big:hover .img__count,
  figure.img:hover .img__count {
    opacity: 0;
    visibility: hidden; }

.video {
  width: 100%;
  height: 100%;
  max-height: 43rem;
  cursor: pointer;
  position: relative; }

.laptop-port-show {
  display: none; }
  @media only screen and (max-width: 64em) {
    .laptop-port-show {
      display: block; } }

@media only screen and (max-width: 64em) {
  .laptop-port-hide {
    display: none; } }

.tablet-land-show {
  display: none !important; }
  @media only screen and (max-width: 62em) {
    .tablet-land-show {
      display: block !important; } }

@media only screen and (max-width: 62em) {
  .tablet-land-hide {
    display: none !important; } }

.tablet-port-show {
  display: none; }
  @media only screen and (max-width: 48em) {
    .tablet-port-show {
      display: block; } }

@media only screen and (max-width: 48em) {
  .tablet-port-hide {
    display: none; } }

@media only screen and (max-width: 35.9375em) {
  .mbl-land-hide {
    display: none; } }

.mbl-land-show {
  display: none; }
  @media only screen and (max-width: 35.9375em) {
    .mbl-land-show {
      display: block; } }

.hide {
  opacity: 0;
  visibility: hidden; }

.tac {
  text-align: center; }

.tar {
  text-align: right; }

.m--1 {
  margin: 0.5rem !important; }

.m-1 {
  margin: 1rem !important; }

.m-2 {
  margin: 2rem !important; }

.m-3 {
  margin: 3rem !important; }

.m-3 {
  margin: 3rem !important; }

.m-4 {
  margin: 4rem !important; }

.m-5 {
  margin: 5rem !important; }

.p-1 {
  padding: 1rem !important; }

.p-2 {
  padding: 2rem !important; }

.p-3 {
  padding: 3rem !important; }

.p-4 {
  padding: 4rem !important; }

.p-5 {
  padding: 5rem !important; }

.mt-1 {
  margin-top: 1rem !important; }

.mt-2 {
  margin-top: 2rem !important; }

.mt-3 {
  margin-top: 3rem !important; }

.mt-4 {
  margin-top: 4rem !important; }

.mt-5 {
  margin-top: 5rem !important; }

.mt-6 {
  margin-top: 6rem !important; }

.mt-7 {
  margin-top: 7rem !important; }

.mt-8 {
  margin-top: 8rem !important; }

.mt-9 {
  margin-top: 9rem !important; }

.mt-10 {
  margin-top: 10rem !important; }

.mb-1 {
  margin-bottom: 1rem !important; }

.mb-2 {
  margin-bottom: 2rem !important; }

.mb-3 {
  margin-bottom: 3rem !important; }

.mb-4 {
  margin-bottom: 4rem !important; }

.mb-5 {
  margin-bottom: 5rem !important; }

.mb-6 {
  margin-bottom: 6rem !important; }

.mb-7 {
  margin-bottom: 7rem !important; }

.mb-8 {
  margin-bottom: 8rem !important; }

.mb-9 {
  margin-bottom: 9rem !important; }

.mb-10 {
  margin-bottom: 10rem !important; }

.pt-1 {
  padding-top: 1rem !important; }

.pt-2 {
  padding-top: 2rem !important; }

.pt-3 {
  padding-top: 3rem !important; }

.pt-4 {
  padding-top: 4rem !important; }

.pt-5 {
  padding-top: 5rem !important; }

.pt-6 {
  padding-top: 6rem !important; }

.pt-7 {
  padding-top: 7rem !important; }

.pt-8 {
  padding-top: 8rem !important; }

.pt-9 {
  padding-top: 9rem !important; }

.pt-10 {
  padding-top: 10rem !important; }

.pb-1 {
  padding-bottom: 1rem !important; }

.pb-2 {
  padding-bottom: 2rem !important; }

.pb-3 {
  padding-bottom: 3rem !important; }

.pb-4 {
  padding-bottom: 4rem !important; }

.pb-5 {
  padding-bottom: 5rem !important; }

.pb-6 {
  padding-bottom: 6rem !important; }

.pb-7 {
  padding-bottom: 7rem !important; }

.pb-8 {
  padding-bottom: 8rem !important; }

.pb-9 {
  padding-bottom: 9rem !important; }

.pb-10 {
  padding-bottom: 10rem !important; }

.btn:focus {
  box-shadow: none; }

.btn {
  font-size: 1.6rem;
  transition: all 0.3s; }

.btn__primary {
  background: #41457B;
  color: #fff;
  padding: 1rem 6rem;
  border-radius: 8px;
  box-shadow: 0 20px 40px rgba(65, 69, 123, 0.15); }
  .btn__primary:hover {
    color: #fff;
    opacity: 0.9; }
  .btn__primary.btn-white {
    background: #fff;
    color: #1f1e2b; }

.btn__full {
  width: 100%;
  justify-content: center;
  box-shadow: 0 20px 40px rgba(65, 69, 123, 0.15); }

.btn__icon {
  display: flex;
  align-items: center;
  color: #1f1e2b;
  transition: all 0.3s; }
  .btn__icon svg {
    width: 2rem;
    height: 2rem;
    margin-right: 1.5rem;
    fill: currentColor; }
  .btn__icon:hover {
    color: #41457B; }
  .btn__icon.btn__sort svg {
    margin-right: 0;
    margin-left: 1.5rem; }
  .btn__icon.btn__text-big {
    font-size: 2rem; }

.pointer-events-none {
  pointer-events: none; }

.nav {
  margin-top: 5rem;
  margin-bottom: 5rem;
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275); }
  .nav__container {
    max-width: 1600px;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .nav__left {
    justify-self: flex-start; }
  .nav__menu {
    display: flex;
    align-items: center; }
    .nav__menu-item:not(:last-child) {
      margin-right: 5rem; }
    .nav__menu-link {
      display: flex;
      align-items: center;
      color: #1f1e2b;
      transition: all 0.3s; }
      .nav__menu-link svg {
        width: 2rem;
        height: 2rem;
        margin: 0 1.5rem;
        fill: currentColor; }
      .nav__menu-link:hover {
        color: #41457B; }
  .nav__right {
    display: flex;
    align-items: center;
    justify-content: flex-end; }
    .nav__right .hamburger {
      padding: 5px;
      display: inline-block;
      cursor: pointer;
      transition-property: opacity, filter;
      transition-duration: 0.15s;
      transition-timing-function: linear;
      background-color: transparent;
      border: 0;
      overflow: visible;
      transform: scale(0.8);
      transform-origin: bottom;
      z-index: 9; }
      .nav__right .hamburger:focus {
        outline: 0; }
    .nav__right .hamburger:hover {
      opacity: 0.7; }
    .nav__right .hamburger-box {
      width: 3rem;
      height: 24px;
      display: inline-block;
      position: relative; }
    .nav__right .hamburger-inner {
      display: block;
      top: 50%;
      margin-top: -2px; }
    .nav__right .hamburger-inner,
    .nav__right .hamburger-inner::before,
    .nav__right .hamburger-inner::after {
      width: 3rem;
      height: 3px;
      background-color: #1f1e2b;
      border-radius: 4px;
      position: absolute;
      transition-property: transform;
      transition-duration: 0.15s;
      transition-timing-function: ease; }
    .nav__right .hamburger-inner::before,
    .nav__right .hamburger-inner::after {
      content: '';
      display: block; }
    .nav__right .hamburger-inner::before {
      top: -10px; }
    .nav__right .hamburger-inner::after {
      bottom: -10px; }
    .nav__right .hamburger--spring .hamburger-inner {
      top: 2px;
      transition: background-color 0s 0.13s linear; }
    .nav__right .hamburger--spring .hamburger-inner::before {
      top: 10px;
      transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19); }
    .nav__right .hamburger--spring .hamburger-inner::after {
      top: 20px;
      transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19); }
    @media only screen and (max-width: 62em) {
      .nav__right .nav__menu {
        position: fixed;
        width: 50%;
        height: 100vh;
        right: 0;
        top: 0;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        background: #41457B;
        padding-left: 50px;
        transform: translateX(100%);
        transition: 0.5s cubic-bezier(0.33333, 0, 0.66667, 0.33333);
        z-index: 8; }
        .nav__right .nav__menu-item {
          margin-bottom: 20px; }
        .nav__right .nav__menu-link {
          color: #fff; } }
    @media only screen and (max-width: 48em) {
      .nav__right .nav__menu {
        width: 80%; } }
    @media only screen and (max-width: 23.75em) {
      .nav__right .nav__menu {
        width: 100%; } }
    .nav__right.active .nav__menu {
      transform: translateX(0) !important; }
    .nav__right.active .hamburger--spring .hamburger-inner {
      transition-delay: 0.22s;
      background-color: transparent !important; }
    .nav__right.active .hamburger--spring .hamburger-inner::before {
      top: 0;
      transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
      transform: translate3d(0, 10px, 0) rotate(45deg); }
    .nav__right.active .hamburger--spring .hamburger-inner::after {
      top: 0;
      transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
      transform: translate3d(0, 10px, 0) rotate(-45deg); }

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 95%;
  max-width: 76rem;
  margin: 0 auto;
  background: #fff;
  z-index: 20;
  padding: 5rem 4rem; }
  .popup.active {
    transform: translate(-50%, -50%) scale(1); }
  .popup .nav {
    margin-top: 0; }
    .popup .nav .btn__icon svg {
      width: 1.5rem;
      height: 1.5rem; }
  .popup .border__bottom {
    border-bottom: 0.5px solid #70707086; }
  .popup .select__list-item {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4rem; }
    .popup .select__list-item .right .check__box {
      opacity: 0;
      visibility: hidden; }
    .popup .select__list-item .right .trigger {
      width: 3.5rem;
      height: 3.5rem;
      border-radius: 4px;
      background: #eee;
      position: relative;
      opacity: 0;
      visibility: hidden;
      cursor: pointer; }
      .popup .select__list-item .right .trigger::after {
        content: '\2714';
        color: #fff;
        position: absolute;
        font-size: 2.5rem;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        pointer-events: none; }
    .popup .select__list-item .right .check__box:checked ~ .trigger {
      background: #4D58FF;
      opacity: 1;
      visibility: visible; }
      .popup .select__list-item .right .check__box:checked ~ .trigger::after {
        opacity: 1; }
    .popup .select__list-item:hover .right .trigger {
      opacity: 1;
      visibility: visible; }
  .popup.popup__success {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh; }

.overlay {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(0, 0, 0, 0.4);
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  z-index: 10;
  transform: scale(0); }
  .overlay.active {
    transform: scale(1); }

.create__album-container {
  max-width: 60rem; }

.create__album .upload__box {
  position: relative; }
  .create__album .upload__box input[type="file"] {
    opacity: 0;
    visibility: hidden;
    position: absolute; }
  .create__album .upload__box .upload__label {
    display: block;
    cursor: pointer;
    width: 100%; }
    .create__album .upload__box .upload__label img {
      width: 100%;
      object-fit: contain; }

.slideShow .main__slide {
  margin-top: 20rem;
  width: 90%;
  max-width: 57rem; }

.slideShow .swiper-button-prev {
  color: #fff;
  left: 50px; }

.slideShow .swiper-button-next {
  color: #fff;
  right: 50px; }

.slideShow .thumbs {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #1f1e2b;
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275); }
  .slideShow .thumbs .swiper-slide {
    margin-right: 0 !important; }
  .slideShow .thumbs .swiper-slide-thumb-active figure.img {
    background: #2f314d; }
  .slideShow .thumbs figure.img {
    cursor: pointer;
    width: 100%;
    max-width: 17rem;
    height: 17.5rem;
    max-height: 17.5rem;
    padding: 1.5rem;
    background: transparent; }
    .slideShow .thumbs figure.img img {
      width: 100%;
      height: 100%;
      object-fit: cover; }

@media only screen and (max-width: 48em) {
  .slideShow .swiper-button-next,
  .slideShow .swiper-button-prev {
    display: none; } }

.slideShow .slideshow__close {
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  position: fixed;
  top: 5rem;
  right: 5rem;
  font-size: 5rem;
  line-height: 1;
  cursor: pointer;
  color: #fff;
  z-index: 9;
  opacity: 0;
  visibility: hidden; }
  @media only screen and (max-width: 48em) {
    .slideShow .slideshow__close {
      top: 1rem;
      right: 2rem; } }

.slideShow.slideshow__full .slideshow__close {
  opacity: .5;
  visibility: visible; }
  .slideShow.slideshow__full .slideshow__close:hover {
    opacity: 1; }

.slideShow.slideshow__full .thumbs {
  transform: translateY(-100%); }

.slideShow.slideshow__full .main__slide {
  margin-top: 0;
  width: 90%;
  max-width: 114rem; }
  .slideShow.slideshow__full .main__slide .swiper-slide {
    width: 100% !important; }
  .slideShow.slideshow__full .main__slide figure.slider__img {
    width: 100% !important;
    max-height: unset;
    text-align: center; }
    .slideShow.slideshow__full .main__slide figure.slider__img img {
      margin: 0 auto !important; }

.slideShow.slideshow__full .nav__bottom {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  transform: translateY(100%);
  opacity: 0;
  visibility: hidden; }

.cropPage .swiper-slide-active figure.slider__img {
  position: relative;
  overflow: hidden; }
  .cropPage .swiper-slide-active figure.slider__img::after {
    content: '';
    width: 100%;
    height: 50%;
    position: absolute;
    bottom: 0;
    left: 0;
    border: 3px dashed #fff;
    z-index: 5;
    box-shadow: 0 0 50px 400rem rgba(0, 0, 0, 0.5);
    cursor: n-resize; }
