.nav {
	margin-top: 5rem;
	margin-bottom: 5rem;
	transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
	&__container {
		max-width: 1600px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__left {
		justify-self: flex-start;
	}

	&__menu {
		display: flex;
		align-items: center;

		&-item {
			&:not(:last-child) {
				margin-right: 5rem;
			}
		}

		&-link {
			display: flex;
			align-items: center;
			color: $color-secondary;
			transition: all 0.3s;
			svg {
				width: 2rem;
				height: 2rem;
				margin: 0 1.5rem;
				fill: currentColor;
			}

			&:hover {
				color: $color-primary;
			}
		}
	}

	&__right {
		display: flex;
		align-items: center;
		justify-content: flex-end;

		.hamburger {
			padding: 5px;
			display: inline-block;
			cursor: pointer;
			transition-property: opacity, filter;
			transition-duration: 0.15s;
			transition-timing-function: linear;
			background-color: transparent;
			border: 0;
			overflow: visible;
			transform: scale(0.8);
			transform-origin: bottom;
			z-index: 9;

			&:focus {
				outline: 0;
			}
		}
		.hamburger:hover {
			opacity: 0.7;
		}

		.hamburger-box {
			width: 3rem;
			height: 24px;
			display: inline-block;
			position: relative;
		}

		.hamburger-inner {
			display: block;
			top: 50%;
			margin-top: -2px;
		}
		.hamburger-inner,
		.hamburger-inner::before,
		.hamburger-inner::after {
			width: 3rem;
			height: 3px;
			background-color: $color-secondary;
			border-radius: 4px;
			position: absolute;
			transition-property: transform;
			transition-duration: 0.15s;
			transition-timing-function: ease;
		}
		.hamburger-inner::before,
		.hamburger-inner::after {
			content: '';
			display: block;
		}
		.hamburger-inner::before {
			top: -10px;
		}
		.hamburger-inner::after {
			bottom: -10px;
		}

		.hamburger--spring .hamburger-inner {
			top: 2px;
			transition: background-color 0s 0.13s linear;
		}
		.hamburger--spring .hamburger-inner::before {
			top: 10px;
			transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1),
				transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
		}
		.hamburger--spring .hamburger-inner::after {
			top: 20px;
			transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1),
				transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
		}

		@media only screen and (max-width: $tab-land) {
			.nav__menu {
				position: fixed;
				width: 50%;
				height: 100vh;
				right: 0;
				top: 0;
				flex-direction: column;
				justify-content: center;
				align-items: flex-start;
				background: $color-primary;
				padding-left: 50px;
				transform: translateX(100%);
				transition: 0.5s cubic-bezier(0.33333, 0, 0.66667, 0.33333);
				z-index: 8;

				&-item {
					margin-bottom: 20px;
				}

				&-link {
					color: #fff;
				}
			}
		}

		@media only screen and (max-width: $tab-port) {
			.nav__menu {
				width: 80%;
			}
		}
		@media only screen and (max-width: $mbl-small) {
			.nav__menu {
				width: 100%;
			}
		}

		&.active {
			.nav__menu {
				transform: translateX(0) !important;
			}
			.hamburger--spring .hamburger-inner {
				transition-delay: 0.22s;
				background-color: transparent !important;
			}
			.hamburger--spring .hamburger-inner::before {
				top: 0;
				transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333),
					transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
				transform: translate3d(0, 10px, 0) rotate(45deg);
			}
			.hamburger--spring .hamburger-inner::after {
				top: 0;
				transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333),
					transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
				transform: translate3d(0, 10px, 0) rotate(-45deg);
			}
		}
	}
}
